<h2>Simple Button Demo</h2>
<app-btn></app-btn>
<app-btn></app-btn>

<h2>Button Demo With <code>ng-content</code></h2>
<app-fancy-btn>Click Me</app-fancy-btn>
<app-fancy-btn><b>Submit</b></app-fancy-btn>

<h2>Example of ng-content select attribute</h2>
<app-card>
  <header>
    <h1>Angular</h1>
  </header>
  <div class="content">One framework. Mobile & desktop.</div>
  <footer><b>Super-powered by Google </b></footer>
</app-card>

<app-card>
  <header>
    <h1 style="color: red">React</h1>
  </header>
  <div class="content">A JavaScript library for building user interfaces</div>
  <ng-container>
    <footer><b>Facebook Open Source </b></footer>
  </ng-container>
  <p>This text will be shown</p>
</app-card>
