<div class="app">
  <div class="menu">
    <button routerLink="module1">1. ng-content & Content Projection</button>
    <button routerLink="module2">2. @Input, @Output & EventEmitter</button>
    <button routerLink="module3">3. Template Reference Variable</button>
    <button routerLink="module4">4. ng-container</button>
    <button routerLink="module5">5. ng-template & TemplateRef</button>
    <button routerLink="module6">6. ngTemplateOutlet</button>
    <button routerLink="module7">7. HostBinding & HostListener</button>
    <button routerLink="module8">8. ViewChild, ViewChildren</button>
    <button routerLink="module9">9. ElementRef</button>
    <button routerLink="module10">10. Renderer2</button>
    <button routerLink="module11">11. ContentChild & ContentChildren</button>
    <button routerLink="module12">12. Lifecycle</button>
    <button routerLink="module13">13. Angular Decorators</button>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
