.app {
  display: flex;

  .menu {
    width: 300px;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px #1890ff solid;

    button {
      width: 100%;
      text-align: left;
    }
  }
}